
/* Nav bar style */
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: red !important; 
}

/* Card style */
.card-link {
    color: #212529 !important;
    text-decoration: none;
}

.card-hover:hover {
    border-color: red !important;
    box-shadow: 0 0 10px rgba(255, 0, 0.5);
}
