{% extends "base.html" %}
{% load static %}

{% block title %} Reviews {% endblock %}

{% block content %}
    <section>
        <div class="container-xxl m-4">
            {% if reviews_list %}
                {% for review in reviews_list %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ review.car_review_imgs.review_imgs.url }}" alt="{{ review.title }} img" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title p-3">{{ review.title }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>reviews list is empty</p>
            {% endif %}
        </div>
    </section>
{% endblock %}