{% extends "base.html" %}

{% block title %} Reviews {% endblock %}

{% block content %}
    <section>
        <div class="container-xxl">
            <ul>
                {% if reviews_list %}
                    {% for reviews in reviews_list %}
                        <li>
                            <a href="{% url 'car_blog:review_details' reviews.id%}">{{ reviews.title }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p class="text-center">Car reviews list is empty</p>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}