<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'car_blog:index' %}">home</a></li>
                <li><a href="{% url 'car_blog:brands_list' %}">car brands</a></li>
                <li><a href="{% url 'car_blog:reviews_list' %}">reviews</a></li>
                <li><a href="">add reviews</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>