{% extends 'base.html' %}

{% block title %}{{ review_details.title }}{% endblock %}

{% block content %}
<div>
    <h1>{{review_details.title}}</h1>
    <section class="car-info">
        <h2>Information</h2>
        <p><strong>Brand: </strong>{{review_details.brand}}</p>
        <p><strong>Model: </strong>{{review_details.model}}</p>
        <p><strong>Release dateil: </strong>{{review_details.date}}</p>
        <p><strong>Type: </strong>{{review_details.type}}</p>
    </section>
    <section>
        <h2>Technical Specifications</h2>
        <p><strong>Engine: </strong>{{review_details.engine}}</p>
        <p><strong>Fuel: </strong>
            {% for fuel in review_details.fuel.all %}
            {{ fuel }}
            {% endfor %}
        </p>
        <p><strong>Horsepower: </strong>{{review_details.horsepower_min}} - {{review_details.horsepower_max}} HP</p>
        <p><strong>Price: </strong>{{review_details.price}} €</p>
    </section>
    <section>
        <h2>Review</h2>
        <p>{{review_details.content}}</p>
    </section>
    <section>
        <h2>Pros and cons</h2>
        <div>
            <h3>Pros</h3>
            <p>{{review_details.pros}}</p>
        </div>
        <div>
            <h3>Cons</h3>
            <p>{{review_details.cons}}</p>
        </div>
    </section>
    <section>
        <p><strong>Published Data: </strong> {{review_details.create_at|date:"Y-m-d h:i"}} </p>
    </section>
</div>
{% endblock %}
